<!doctype html>
<html>
<head>
	<title>Music Recommendation System</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body { padding-right:80px;
padding-left:80px;
 }
	</style>
</head>
<body>
<div class="container">

	<div class='page-header'>
	  <div class='btn-toolbar pull-right'>
	    <div class='btn-group'>
	    <a href="/logout" class="btn btn-default"></span>Logout</a>
	    </div>
	  </div>
	  <h1>  Modify Playlist </h1>
	</div>
           <p align="right"> <a href="/playlist">Back</a>&emsp;<a href="/profile">Home</a></p>
	<div class="page-header text-center">
		<h2><%=query%>
		</h2>
	</div>
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>


<form action="/remove_songs" method="post">
            <table class="table">

			<% for(var i=0;i< items.length; i++) { %>
		   <tr>	  
		   <td><%=  list[items[i]-1].name %></td>
		 <td>
		 <input type="checkbox" name="tag1" value=<%= items[i] %>></td>
		</tr>		   
			<% } %>

			</table>
<button style="float: right;" type="submit" class="btn btn-warning btn-lg">Delete</button>
            </form>

</br>
</br>

            <form action="/add_songs" method="post">
<h3>Add More Songs</h3>
                <div class="form-group">
                    <label>List of Songs</label>
			 <select name="tag">
			 <% for(var i=0; i < list.length; i++) { %>
			  <option value=<%= list[i].id %>><%= list[i].name %></option>
			  <% } %>
			</select>
                </div>

<button style="float: right;" type="submit" class="btn btn-warning btn-lg">Add song</button>
            </form>

</br></br>
			<h3>Recommended Songs</h3>
	   <form action="/add_songs" method="post">
			  <table class="table">
			<% for(var j=0;j< items2.length; j++) { %>
		   <tr><td><%=  items2[j] %></td>
		   <td>
		   <%if (items2[j] == "No recommendations") { %>
			<% "No recommendations "%>
			<% } else {%>
			<%=  list[items2[j]-1].name %>
			<% } %>
		   </td>
		   	<td>
		 <input type="checkbox" name="tag" value=<%= items2[j] %>></td>
		</tr>		   
			<% } %>

			</table>
<button style="float: right;" type="submit" class="btn btn-warning btn-lg">Add to playlist</button>
            </form>




            <hr></div>
		
    </div>
</div>
</body>
</html>
