<!doctype html>
<html>
<head>
	<title>Music Recommendation System</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body { padding-right:80px;
padding-left:80px;
 }
	</style>
</head>
<body>
<div class="container">

	<div class='page-header'>
	  <div class='btn-toolbar pull-right'>
	    <div class='btn-group'>
	    <a href="/logout" class="btn btn-default"></span>Logout</a>
	    </div>
	  </div>
	  <h2>  Music Recommendation System</h2>
	</div>
	<div class="page-header text-center">
		<h1>Favourites</h1>
	</div><p align = "left"><a href="/search">Add Favourites</a>&emsp;&emsp;<a href="/profile">Home</a></p>

<% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
<% if (message == '') {%>
		<table class ="table">
		<tr>

		<% if(sql[0].name) { %>
		<th>Name</th>
		<% } %>

		<% if(sql[0].num_of_songs) { %>
		<th>Number of Songs</th>
		<% } %>

		<% if(sql[0].theme) { %>
		<th>Theme</th>
		<% } %>

		<% if(sql[0].duration) { %>
		<th>Duration</th>
		<% } %>

		<% if(sql[0].tempo) { %>
		<th>Tempo</th>
		<% } %>

		<% if(sql[0].year) { %>
		<th>Year</th>
		<% } %>

		<% if(sql[0].album_id) { %>
		<th>Album ID</th>
		<% } %>

		</tr>
	<form action="/favourites" method="post">
		<% for(var i=0; i < sql.length; i++) { %>
		   <tr>
			<% if(sql[0].name) { %>
		     <td><% if(sql[0].Spotify_url) { %>
		     <a href = "<%= sql[i].Spotify_url%>" target="_blank"><!--<%= sql[i].Spotify_url%>--><img border="0" alt="Spotify" src="img/spotify_logo" width="35" height="35"></a>
<% } %>&emsp;&emsp;<%= sql[i].name %></td>
<% } %><% if(sql[0].num_of_songs) { %>
		     <td><%= sql[i].num_of_songs %></td>
<% } %><% if(sql[0].theme) { %>
		     <td><%= sql[i].theme %></td>
<% } %><% if(sql[0].duration) { %>
		     <td><%= sql[i].duration %></td>
<% } %><% if(sql[0].tempo) { %>
		     <td><%= sql[i].tempo %></td>
<% } %><% if(sql[0].year) { %>
		     <td><%= sql[i].year %></td>
<% } %><% if(sql[0].album_id) { %>
		     <td><%= sql[i].album_id %></td>
<% } %>
		 	<% if(sql[i].album_id) { %>
		 <td>
		 <input type="checkbox" name="notfavourite" value=<%= sql[i].id %>></td>
		<% } %>
		   </tr>
		<% } %>
		<% if(sql[0].album_id) { %>
		<b>Select One song if you wish to remove</b>&emsp;
  <input type="submit" value="Submit">
		<% } %>
<br/>
<br/>
</form>		</table>


<% } %>

</div>
</body>
</html>
