<!doctype html>
<html>
<head>
	<title>Music Recommendation System</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body { padding-right:80px;
padding-left:80px;
 }
	</style>
</head>
<body>
<div class="container">

	<div class='page-header'>
	  <div class='btn-toolbar pull-right'>
	    <div class='btn-group'>
	    <a href="/logout" class="btn btn-default"></span>Logout</a>
	    </div>
	  </div>
	  <h2>  Music Recommendation System</h2>
	</div>
	<div class="page-header text-center">
		<h1>Playlist</h1>
	</div>
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <form action="/create_playlist" method="post">
                <div class="form-group">
                    <label>playlist_name</label>
                    <input type="text" class="form-control" name="query">
                </div>
                <!-- <a href="/create_playlist">Create_Playlist</a></div> -->
                <button type="submit" class="btn btn-warning btn-lg">Create_Playlist</button>
            </form>

            <form action="/add_songs" method="get">
			<div class="form-group">
             <label>List of Playlists</label>
			 <select name="tag">
			 <% for(var i=0; i < items.length; i++) { %>
			  <option value=<%= items[i].playlist_name %>><%= items[i].playlist_name %></option>
			  <% } %>
			</select>
			<button type="submit" class="btn btn-warning btn-lg">Modify</button>
             </div>
             
             </form>

            <hr>
            <a href="/profile">Home</a></div>
 
       <table>
		<% for(var i=0; i < items.length; i++) { %>
		   <tr>
		     <td><%= items[i].user_id %></td>
		     <td><%= items[i].playlist_id %></td>
		     <td><a href="/add_songs"><%= items[i].playlist_name %></a></td>
		   </tr>
		<% } %>
		</table>

		
      
    </div>
</div>
</body>
</html>