<!doctype html>
<html>
<head>
	<title>Music Recommendation System</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body { padding-right:80px;
padding-left:80px;
 }
	</style>
</head>
<body>
<div class="container">

	<div class='page-header'>
	  <div class='btn-toolbar pull-right'>
	    <div class='btn-group'>
	    <a href="/logout" class="btn btn-default"></span>Logout</a>
	    </div>
	  </div>
	  <h2>  Music Recommendation System</h2>
	</div>
	<div class="page-header text-center">
		<h1>Playlist</h1>
	</div>
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <p align = "right"><a href="/profile">Home</a></p>

    <form action="/remove_playlist" method="post">
       <table class = "table">
<tr><th>Playlist Name</th></tr>
		<% for(var i=0; i < items.length; i++) { %>
		   <tr>
		     <td><%= items[i].playlist_name %></td>
		     <td>
		 <input type="checkbox" name="tag1" value=<%= items[i].playlist_name %>></td>
		   </tr>
		<% } %>
		</table>
        <button style="float: right;" type="submit" class="btn btn-warning btn-lg">Delete</button>
  </form>




</br>
            <form action="/create_playlist" method="post">
		<h3>Create a New Playlist</h3>
                <div class="form-group">
                    <label align="center">Playlist Name</label>
                    <input type="text" class="form-control" name="query">

                </div>
                <!-- <a href="/create_playlist">Create_Playlist</a></div> -->
                <button type="submit" class="btn btn-warning btn-lg">Create Playlist</button>
            </form>
	</br></br>
            <form action="/add_songs" method="get">
		<h3>Modify Existing Playlist</h3>
			<div class="form-group">
             <label align="center">List of Playlists</label>&emsp;&emsp;
			 <select name="tag">
			 <% for(var i=0; i < items.length; i++) { %>
			  <option value=<%= items[i].playlist_name %>><%= items[i].playlist_name %></option>
			  <% } %>
			</select>&emsp;&emsp;
			<button type="submit" class="btn btn-warning btn-lg">Modify</button>
             </div>
             
             </form>

            <hr></div>

		
      
    </div>
</div>
</body>
</html>
