<!doctype html>
<html>
<head>
	<title>Music Recommendation System</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body { padding-right:80px;
padding-left:80px;
 }
	</style>
</head>
<body>
<div class="container">
	<div class='page-header'>
	  <div class='btn-toolbar pull-right'>
	    <div class='btn-group'>
<h4>Welcome <% if(user) { %><%= user.name %><% } %></h4>
	    <a href="/logout" class="btn btn-default"></span>Logout</a>
	    </div>
	  </div>
	  <h2>  Music Recommendation System</h2>
	</div>

	<p><a href="/account">Account Settings</a>&emsp;&emsp;&emsp;&emsp;<a href="/search">Search</a>&emsp;&emsp;&emsp;&emsp;<a href="/playlist">Playlist</a>
&emsp;&emsp;&emsp;&emsp;<a href="/favourites">Favorites</a></p>



	<form action="/profile" method="post">
                <div class="form-group">
		<div class="page-header text-center">
				<h3>Popular songs by decade</h3>
			</div>
                    <label>Decade : </label>&emsp;&emsp;
			 		<select name="decade">
			  		<option value="1950">1950s</option>
			  		<option value="1960">1960s</option>
			  		<option value="1970">1970s</option>
			  		<option value="1980">1980s</option>
			  		<option value="1990">1990s</option>
			  		<option value="2000">2000s</option>
			  		<option value="2010">2010s</option>
			</select>
		&emsp;&emsp;
                <button style="float: middle;" type="submit" class="btn btn-warning btn-lg">Search</button>
                </div>
            </form>

<div class="form-group">
		<div class="page-header text-center">
				<h3>Top collaborated songs</h3>
			</div>


                 <table class ="table">
		<tr>

		<% if(sql[0].name) { %>
		<th>Name</th>
		<% } %>

		<% if(sql[0].num_of_songs) { %>
		<th>Number of Songs</th>
		<% } %>

		<% if(sql[0].theme) { %>
		<th>Theme</th>
		<% } %>

		<% if(sql[0].duration) { %>
		<th>Duration</th>
		<% } %>

		<% if(sql[0].tempo) { %>
		<th>Tempo</th>
		<% } %>

		<% if(sql[0].year) { %>
		<th>Year</th>
		<% } %>

		<% if(sql[0].album_id) { %>
		<th>Album ID</th>
		<% } %>


		</tr>
	<form action="/profile" method="post">
		<% for(var i=0; i < sql.length; i++) { %>
		   <tr>
			<% if(sql[0].name) { %>
		     <td><% if(sql[0].Spotify_url) { %>
		     <a href = "<%= sql[i].Spotify_url%>" target="_blank"><!--<%= sql[i].Spotify_url%>--><img border="0" alt="Spotify" src="img/spotify_logo" width="35" height="35"></a>
<% } %>&emsp;&emsp;<%= sql[i].name %></td>
<% } %><% if(sql[0].num_of_songs) { %>
		     <td><%= sql[i].num_of_songs %></td>
<% } %><% if(sql[0].theme) { %>
		     <td><%= sql[i].theme %></td>
<% } %><% if(sql[0].duration) { %>
		     <td><%= sql[i].duration %></td>
<% } %><% if(sql[0].tempo) { %>
		     <td><%= sql[i].tempo %></td>
<% } %><% if(sql[0].year) { %>
		     <td><%= sql[i].year %></td>
<% } %><% if(sql[0].album_id) { %>
		     <td><%= sql[i].album_id %></td>
<% } %>
		   </tr>
		<% } %>
	</table>
                </div>

</div>
</body>
</html>
