<!doctype html>
<html>
<head>
	<title>Music Recommendation System</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body { padding-right:80px;
padding-left:80px;
 }
	</style>
</head>
<body>
<div class="container">
	<div class='page-header'>
	  <div class='btn-toolbar pull-right'>
	    <div class='btn-group'>
	    <a href="/logout" class="btn btn-default"></span>Logout</a>
	    </div>
	  </div>
	  <h2>  Music Recommendation System</h2>
	</div>

	<p><a href="/account">Account Settings</a>&emsp;&emsp;&emsp;&emsp;<a href="/search">Search</a>&emsp;&emsp;&emsp;&emsp;<a href="/playlist">Playlist</a>
&emsp;&emsp;&emsp;&emsp;<a href="/favourites">Favorites</a></p>

		<div class="page-header text-center">
				<h3>Popular songs by decade</h3>
			</div>
<% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
<% if (message.length <= 0)  { %>
<table class ="table">
		<tr><% if(sql[0].Id) { %>
		<th>Id</th>
		<% } %>

		<% if(sql[0].id) { %>
		<th>id</th>
		<% } %>

		<% if(sql[0].name) { %>
		<th>name</th>
		<% } %>

		<% if(sql[0].num_of_songs) { %>
		<th>num_of_songs</th>
		<% } %>

		<% if(sql[0].theme) { %>
		<th>theme</th>
		<% } %>

		<% if(sql[0].duration) { %>
		<th>duration</th>
		<% } %>

		<% if(sql[0].tempo) { %>
		<th>tempo</th>
		<% } %>

		<% if(sql[0].year) { %>
		<th>year</th>
		<% } %>

		<% if(sql[0].album_id) { %>
		<th>album_id</th>
		<% } %>

		<% if(sql[0].Spotify_url) { %>
		<th>Spotify_url</th>
		<% } %>
		</tr>
		<% for(var i=0; i < sql.length; i++) { %>
		   <tr>
			<% if(sql[0].id) { %>
		     <td><%= sql[i].id %></td>
			<% } %><% if(sql[0].Id) { %>
		     <td><%= sql[i].Id %></td>
			<% } %><% if(sql[0].name) { %>
		     <td><%= sql[i].name %></td>
<% } %><% if(sql[0].num_of_songs) { %>
		     <td><%= sql[i].num_of_songs %></td>
<% } %><% if(sql[0].theme) { %>
		     <td><%= sql[i].theme %></td>
<% } %><% if(sql[0].duration) { %>
		     <td><%= sql[i].duration %></td>
<% } %><% if(sql[0].tempo) { %>
		     <td><%= sql[i].tempo %></td>
<% } %><% if(sql[0].year) { %>
		     <td><%= sql[i].year %></td>
<% } %><% if(sql[0].album_id) { %>
		     <td><%= sql[i].album_id %></td>
<% } %><% if(sql[0].Spotify_url) { %>
		     <td><a href = "<%= sql[i].Spotify_url%>"><%= sql[i].Spotify_url%></a></td>
<% } %>
		   </tr>
		<% } %>

	</table>

<% } %>

</body>
</html>
