<!doctype html>
<html>
<head>
	<title>Music Recommendation System</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body { padding-right:80px;
padding-left:80px;
 }
	</style>
</head>
<body>
<div class="container">

	<div class='page-header'>
	  <div class='btn-toolbar pull-right'>
	    <div class='btn-group'>
	    <a href="/logout" class="btn btn-default"></span>Logout</a>
	    </div>
	  </div>
	  <h2>  Music Recommendation System</h2>
	</div>
	<div class="page-header text-center">
		<h1>Search</h1>
	</div>
		<table frame = "box">
		<tr><% if(sql[0].Id) { %>
		<th>Id</th>
		<% } %>

		<% if(sql[0].id) { %>
		<th>id</th>
		<% } %>

		<% if(sql[0].name) { %>
		<th>name</th>
		<% } %>

		<% if(sql[0].num_of_songs) { %>
		<th>num_of_songs</th>
		<% } %>

		<% if(sql[0].theme) { %>
		<th>theme</th>
		<% } %>

		<% if(sql[0].duration) { %>
		<th>duration</th>
		<% } %>

		<% if(sql[0].tempo) { %>
		<th>tempo</th>
		<% } %>

		<% if(sql[0].year) { %>
		<th>year</th>
		<% } %>

		<% if(sql[0].album_id) { %>
		<th>album_id</th>
		<% } %>

		<% if(sql[0].Spotify_url) { %>
		<th>Spotify_url</th>
		<% } %>
		</tr>
	<form action="/favourites" method="post">
		<% for(var i=0; i < sql.length; i++) { %>
		   <tr>
		     <td><%= sql[i].id %></td>
		     <td><%= sql[i].Id %></td>
		     <td><%= sql[i].name %></td>
		     <td><%= sql[i].num_of_songs %></td>
		     <td><%= sql[i].theme %></td>
		     <td><%= sql[i].duration %></td>
		     <td><%= sql[i].tempo %></td>
		     <td><%= sql[i].year %></td>
		     <td><%= sql[i].album_id %></td>
		     <td><%= sql[i].Spotify_url%></td>
		 	<% if(sql[i].tempo) { %>
		 <td>
		 <input type="checkbox" name="favourite" value=<%= sql[i].id %>></td>
		<% } %>
		   </tr>
		<% } %>
		<% if(sql[0].tempo) { %>
		Select One song to add to Favorites
  <input type="submit" value="Submit">
		<% } %>

</form>		</table>

	<p><a href="/search">Back</a></p>
	<p><a href="/profile">Home</a></p>

</div>
</body>
</html>
